bits.exe
bits
*.exe
src/entities_generated.h
*.stackdump
*.core
*.dmp

# assorted temporary files
out.*
tmp.*
new.*
old.*
n.h
./n.h

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
